.nav-container {
    height: 100px;
    background-color: blanchedalmond;
    position: relative;
}

.nav-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    
}

.nav-logo > a > img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 15%;
}

.nav-text{
    display: flex;
    position: absolute;
}


.text-item {
    margin: 0 10px; 
    text-decoration: none;
    color: black;
}

.nav-second-line {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.text-item1 {
    margin: 0 20px;
    text-decoration: none;
    color: black;
}

 
  @media (min-width: 360px){
    .nav-text{
        position: position;
        right: 0;
        font-size: 10px;
    }
    .nav-second-line {
        position: position;
        font-size: 10px;
    }
    .text-item1 {
        position: relative;
        left: 100px;
    }
  }
 
/* 
  @media(min-width: 600px) and (max-width: 992px) {

  }

  @media(min-width: 992px) {
  
    }
   */